@media screen and (max-width: 1600px) {
  .db_slider .slick-prev{
    right: 66px;
    left: auto;
    top: -75px;
  }
  .db_slider .slick-next{
    right: 12px;
    left: auto;
    top: -75px;
  }
  .head-wrap {
    max-width: 1488px;
    width: 100%;
    margin: 0 auto;
    padding: 0 82px;
  }
  .head{
    flex-wrap: wrap;
  }
  .head_nav{
    order: 3;
  }
  .head_menu{
    padding: 0;
    margin: 0 -22px;
    justify-content: space-between;
  }
  .head_search-input-wrap{
    right: calc(100% + 20px);
    top: 37px;
  }
}
@media screen and (max-width: 1280px) {
  .tabs_body{
    background: transparent;
    border: none;
    padding: 20px 0;
  }
  .product-in{
    flex-direction: column;
  }
  .product_content{
    width: 100%;
    padding: 15px 0 0;
    align-self: start;
  }
  .product_img-wrap{
    width: 140px;
    height: 150px;
    align-self: start;
  }
  .product_title{
    font-size: 16px;
    line-height: 24px;
  }
  .product_txt{
    font-size: 14px;
  }
  .container, .head-wrap{
    padding: 0 30px;
  }
  .head_menu{
    padding: 0;
    margin: 0 -9px;
  }
  .head_menu-list{
    margin: 0 9px;
  }
  .head_slide-cart{
    width: 33.33%;
  }
  .footer_top-left{
    flex-direction: column;
    width: 270px;
  }
  .footer_logo-wrap{
    padding-bottom: 50px;
  }
  .footer_top-right{
    width: calc(100% - 270px);
  }
  .footer_mid-in{
    flex-wrap: wrap;
  }
  .footer_mid-items__main{
    width: 100%;
    text-align: center;
  }
  .footer_mid-items__main .footer_desc{
    padding-bottom: 60px;
  }
  .contacts_in-wrap{
    width: calc(100% - 380px);
  }
  .contacts_map-desc{
    width: 250px;
    height: 180px;
  }
  .contacts_img-wrap{
    height: 120px;
    margin-bottom: 5px;
  }
  .contacts_map-btn{
    padding: 10px 15px;
    line-height: 1;
  }
  .video_prev-logo__big{
    width: 317px;
    height: 65px;
    padding: 15px;
  }
  .about_number-wrap{
    font-size: 26px;
  }
  .products .product_title{
    padding-top: 0;
  }
}
@media screen and (min-width: 980.1px) {
  .tabs_all{
    display: none;
  }
  .tabs{
   height: auto!important;
  }
  .head_nav, .head_submenu{
    display: block!important;
  }
  .even-item .sub-section:nth-child(even) .section_content {
    order: -1;
    padding: 0 70px 0 0;
  }
  .app_prev{
    display: flex;
  }
  .app_prev .section_in-title{
    width: 384px;
    padding-right: 150px;
  }
  .app_prev .txt{
    width: calc(100% - 384px);
  }
  .about_slider-wrap{
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .tabs{
    flex-direction: column;
    margin-top: 10px;
    max-width: 350px;
    flex-wrap: wrap;
    overflow: hidden;
    height: 43px;
    transition: 0.3s;
  }
  .tabs_item{
    margin: 0;
    text-align: left;
    font-size: 14px;
    color: rgba(20, 20, 20, 0.5);
    padding: 12.5px 38px 12.5px 15px;
    background-color: #F5F5F5;
    transition: 0s;
    width: 100%;
  }
  .tabs_item__active{
    order: -1;
    color: rgba(20, 20, 20, 0.5);
    background: #F5F5F5 url(../img/arrow-black.svg) 95% center no-repeat;
    cursor: pointer;
  }
  .tabs_item__sm-active{
    background-image: url(../img/arrow-green.svg);
  }
  .tabs_item__active:hover{
    color: rgba(20, 20, 20, 0.5);
    background-color: #F5F5F5;
  }
  .flex_first{
    order: -1;
  }
  .txt{
    padding-bottom: 20px;
    line-height: 21px;
  }
  .list-num{
    line-height: 21px;
  }
  .sub-title{
    font-size: 16px;
    padding-bottom: 20px;
  }
  .sub-title__bold{
    font-size: 20px;
  }
  .section_wrap{
    padding: 45px 0;
  }
  .list{
    padding-bottom: 20px;
  }
  .section_in-title{
    font-size: 28px;
    padding-bottom: 15px;
  }
  .title_half{
    max-width: 100%;
    padding-bottom: 10px;
  }
  .section_grid{
    flex-direction: column;
  }
  .section_by-half{
    flex-direction: column;
  }
  .half{
    width: 100%;
    padding: 0;
  }
  .tripple_slider .slick-arrow{
    top: -54px;
  }
  .content_btn{
    padding-top: 20px
  }
  .txt__mid{
    text-align: left;
  }
  body{
    line-height: 21px;
    font-size: 14px;
  }
  .container{
    padding: 0 20px;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ECECEC;
    background: #fff;
    z-index: 100;
  }
  .header__static .head_nav{
    height: calc(100vh - 65px);
    overflow-y: scroll;
  }
  .header__static .head_nav::-webkit-scrollbar {
    width: 0;
  }
  .head-wrap{
    padding: 0 20px;
  }
  .head_logo-wrap{
    width: 128px;
    padding: 23px 0 15px;
  }
  .head_right{
    padding: 22px 0 20px;
  }
  .head_last{
    display: block;
    padding-top: 30px;
  }
  .head_nav{
    border-top: 1px solid #F5F6F6;
    padding: 15px 20px 20px;
    background: #fff;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.05);
  }
  .head_submenu{
    display: none;
  }
  .head_submenu__slider{
    display: none;
  }
  .head_menu-list{
    margin: 0;
    position: relative;
  }
  .head_menu-arrow{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/arrow-black.svg) center right no-repeat;
    width: 30px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
  }
  .head_menu-arrow__active{
    background-image: url(../img/arrow-green.svg);
  }
  .head_menu-link{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px 15px 0;
    border-bottom: 1px solid #F5F6F6;
  }
  .head_menu-link svg{
    display: none;
  }
  .head_menu{
    flex-direction: column;
    margin: 0;
  }
  .head_submenu{
    position: static;
    transform: translateX(0);
    text-align: left;
    opacity: 1;
    z-index: 10;
    box-shadow: none;
    padding: 12px 0 19px;
    transition: 0s;
    border-top: 4px solid #02906D;
  }
  .head_menu-list__sm .head_menu-arrow{
    display: none;
  }
  .head_menu-list__sm:hover{
    border-color: transparent;
  }
  .head_submenu-link{
    padding: 9px 0;
  }
  .head_submenu__slider .container{
    padding: 0;
  }
  .head_right .head_lang{
    display: none;
  }
  .head_menu-burger{
    margin-left: 21px;
    display: block;
    cursor: pointer;
    width: 24px;
    height: 18px;
    position: relative;
    margin-top: 2px
  }
  .head_menu-burger i{
    top: 0;
  }
  .head_menu-burger i,
  .head_menu-burger i::before,
  .head_menu-burger i::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    background: #000;
    height: 3px;
  }
  .head_menu-burger i::before{
    top: 8px;
  }
  .head_menu-burger i::after{
    top: 16px;
  }
  .head_right{
    width: auto;
  }
  .head_search-input-wrap{
    top: 20px;
  }
  .breadcrumbs-wrap{
    margin-top: 65px;
    padding: 15px 0 20px;
  }
  .policy_title{
    font-size: 16px;
  }
  .policy_content{
    padding: 15px 20px 0;
  }
  .policy_sub-list, .policy_txt{
    padding-bottom: 15px;
  }
  .agreement_txt{
    padding-bottom: 15px;
  }
  .agreement_desc{
    font-size: 16px;
    padding: 20px 0 15px;
  }
  .contacts_map{
    display: none;
  }
  .contacts_map-desc{
    position: static;
    padding: 0;
  }
  .contacts_content__map{
    order: -1; 
  }
  .contacts_title-ic, 
  .contacts_map-btn{
    display: none;
  }
  .contacts_content-wrap{
    padding-bottom: 40px;
  }
  .contacts_content{
    padding-bottom: 15px;
  }
  .contacts_desc{
    font-size: 12px;
    padding-bottom: 0;
  }
  .contacts_txt{
    line-height: 1.3;
    font-size: 18px;
  }
  .news_title{
    font-size: 16px;
    line-height: 24px;
  }
  .news_decs{
    font-size: 14px;
    line-height: 24px;
  }
  .news-d_in{
    padding-bottom: 0;
  }
  .sub-section__f{
    padding-top: 20px;
  }
  .lab_in__prev{
    flex-direction: column-reverse;
  }
  .lab_in__prev .section_content{
    padding-bottom: 20px;
  }
  .section_content{
    width: 100%;
    padding: 10px 0 0;
  }
  .section_img{
    width: 100%;
    max-width: 767px;
    order: -1;
  }
  .lab_desc{
    padding-bottom: 10px;
    font-size: 18px;
  }
  .title-del{
    display: none;
  }
  .title-sm{
    display: block;
    order: -1;
    color: #302019;
    font-size: 22px;
    font-family: 'HeliosCondBold', arial, sans-serif;
    font-weight: normal;
    padding-bottom: 20px;
  }
  .students_list{
    padding-bottom: 16px;
  }
  .students_list-ic{
    width: 45px;
    height: 45px;
  }
  .students_list__big .students_list-ic{
    width: 67px;
    height: 67px;
  }
  .students_list-txt{
    font-size: 16px;
    line-height: 16px;
  }
  .career .sub-section{
    padding: 0 0 15px;
  }
  .career .half__right{
    padding-top: 0;
  }
  .career .tripple_slider{
    padding-bottom: 30px;
  }
  .video_prev-ic{
    width: 55px;
    height:  55px;
  }
  .video_prev-ic::before{
    border-width: 9px 0 9px 14px;
  }
  .video_prev-logo__big{
    width: 156px;
    height: 36px;
    padding: 9px;
    bottom: 30px;
    left: 10px;
  }
  .video_prev-txt{
    bottom: 10px;
    left: 10px;
    font-size: 8px;
    line-height: 16px;
    padding: 0 15px;
  }
  .about_sub-section .section_img{
    order: 1;
    padding-top: 30px;
  }
  .about_numbers-wrap{
    margin: 0 -10px;
  }
  .about_numbers{
    width: 33.33%;
    padding: 10px;
  }
  .about_number-wrap{
    font-size: 20px;
  }
  .about_number-txt{
    font-size: 14px;
    line-height: 18px;
    padding-top: 13px;
  }
  .about_sub-section{
    position: relative;
    padding-bottom: 90px;
  }
  .about_sub-section .content_btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
  }
  .about_items-content{
    padding: 25px 30px 0;
  }
  .about_items-desc{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .about_history-section{
    display: none;
  }
  .about_history{
    width: 100%;
  }
  .products .product-wrap{
    width: 50%;
  }
}
@media screen and (min-width: 790px) {
  .feedback-modal{
    background: transparent;
    width: auto;
    color: #302019;
    font-family: 'Raleway', arial, sans-serif;
    font-size: 16px;
    text-transform: none;
    text-align: left;
    padding: 0 0 30px;
    line-height: 21px;
  }
  .feedback-modal:hover,
  .feedback-modal:focus,
  .feedback-modal:active{
    background: transparent;
  }
  .confidentiality-link svg{
    display: none;
  }
  .video_prev:hover .video_prev-hover{
    opacity: 1;
  }
}
@media screen and (max-width: 790px) {
  .db_slider{
    margin: 0 -12px 20px;
  }
  .db_slider .slick-dots,
  .single_slider .slick-dots{
    bottom: -20px;
  }
  .section_wrap{
    padding: 30px 0;
  }
  .sub-section{
    padding: 30px 0;
  }
  .sub-section__f{
    padding-top: 0;
  }
  .section_in-title{
    font-size: 20px;
  }
  .form-wrap{
    margin: auto;
    max-width: 500px;
  }
  .form_title{
    font-size: 22px;
    text-align: left;
  }
  .form_inputs{
    display: block;
  }
  .input-wrap{
    width: 100%;
    margin-bottom: 10px;
  }
  .input-name{
    color: rgba(20, 20, 20, 0.4);
    font-size: 14px;
    padding-bottom: 0;
  }
  .form_submit{
    flex-direction: column-reverse;
  }
  .form_txt{
    padding: 0 0 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .form_btn{
    margin: auto;
  }
  .input-wrap input, .choose_item{
    line-height: 54px;
  }
  .form_file-label{
    padding: 17px 0;
    margin: 20px 0;
  }
  .form_file-title{
    font-size: 16px;
  }
  .choose_items__close{
    height: 59px;
  }
  .catalog-sections_filter{
    columns: 1;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border-width: 1px 0 1px;
  }
  .filter{
    padding: 10px 0;
  }
  body{
    line-height: 180%;
  }
  .btn{
    line-height: 51px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    padding: 0;
  }
  footer{
    background: #F5F6F6;
  }
  .footer_top{
    padding: 40px 0 0;
    border-bottom: none;
  }
  .footer_logo-wrap{
    padding-bottom: 30px;
  }
  .footer_top-right{
    display: none;
  }
  .footer_nav .footer_desc{
    font-size: 20px;
    padding-bottom: 15px;
  }
  .footer_menu-link{
    padding-bottom: 5px;
  }
  .footer_mid{
    padding: 25px 0 0;
    border-bottom: none;
  }
  .footer_mid-in{
    position: relative;
    padding-top: 90px;
    flex-direction: column;
  }
  .feedback-modal{
    position: absolute;
    top: 0;
    left: 0;
  }
  .feedback-modal:hover{
    color: #fff;
  }
  .footer_mid-items__feedback .
  .footer_mid-in{
    flex-direction: column;
  }
  .footer_mid-in .footer_desc{
    font-size: 18px;
  }
  .footer_desc{
    padding-bottom: 15px;
    text-transform: none;
  }
  .footer__del{
    display: none;
  }
  .footer_bot-in{
    padding: 20px 0 40px;
    flex-direction: column;
    color: #20906d;
    border-top: 1px solid rgba(3, 32, 25, 0.3);
  }
  .footer_bot-desc{
    padding-bottom: 15px;
  }
  .confidentiality-link{
    margin: 15px 0 0;
    width: 100%;
  }
  .confidentiality-link svg{
    display: inline-block;
    fill: #20906d;
    width: 11px;
    height: 11px;
    margin-left: 8px;
  }
  .not-found_title{
    margin: 50px auto;
    font-size: 22px;
    line-height: 33px;
    padding: 50px 0;
    background-size: auto 100%;
    max-width: 335px;
  }
  .not-found_txt{
    font-size: 16px;
    line-height: 29px;
  }
  .not-found_btn-wrap{
    margin-bottom: 40px;
  }
  .btn_black{
    margin-top: 10px;
  }
  .contacts{
    display: block;
    text-align: center;
  }
  .contacts_in-wrap{
    margin: 0;
    width: 100%;
  }
  .contacts_content-wrap{
    flex-direction: column;
  }
  .contacts_content{
    padding: 0;
  }
  .contacts_txt,
  .section_side,
  .contacts_map-desc{
    margin: 0 auto;
  }
  .contacts_txt{
    max-width: 375px;
  }
  .contacts_map-desc{
    width: 375px;
    height: 202px;
    border-radius: 0;
    margin-bottom: 30px;
  }
  .contacts_img-wrap{
    height: 100%;
    border-radius: 0;
  }
  .news_body-wrap{
    padding: 0;
  }
  .news_card{
    width: 50%;
  }
  .news_nav{
    flex-direction: column;
    padding-bottom: 30px;
  }
  .news_menu{
    width: 100%;
    max-width: 350px;
    padding: 0;
    flex-direction: column;
  }
  .news_list{
    margin: 0;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 0 19px;
    line-height: 54px;
  }
  .news_list__reset{
    position: static;
  }
  .news_list__title{
    display: none
  }
  .news_list__sm-title{
    display: block;
    color: #302019;
    font-size: 16px;
    padding-bottom: 10px;
  }
  .pagination_btn{
    width: auto;
    padding: 0 45px 0 20px;
  }
  .pagination_btn__prev{
    padding: 0 20px 0 45px;
  }
  .lab_ic{
    display: none;
  }
  .students_mentors{
    padding: 20px 0 0;
  }
  .about_sub-section{
    padding-bottom: 70px;
  }
  .db-btn{
    flex-direction: column;
  }
  .db-btn .btn_black{
    max-width: 400px;
    width: 100%;
    font-size: 16px;
    line-height: 51px;
    margin: 0;
  }
  .about_items{
    padding: 25px 15px;
    background: #F5F6F6;
    border-radius: 0;
  }
  .about_items{
    flex-direction: column;
  }
  .about_items-img-wrap{
    width: 100%;
    height: 200px;
    border-radius: 0;
  }
  .about_items-content{
    width: 100%;
    padding: 25px 0 0;
  }
  .about_items-desc{
    font-size: 16px;
  }
  .textarea-wrap textarea{
    height: 99px;
  }
  .slider-count{
    display: block;
  }
  .catalog-section-wrap{
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .db_slider{
    margin: 0 0 20px;
  }
  .section_padding{
    padding: 40px 0;
  }
  .sub-title__bold{
    padding-bottom: 5px;
  }
  .head_search-input-wrap{
    top: 100%;
    right: 0;
  }
  .head_submenu-link{
    white-space: normal;
  }
  .contacts{
    text-align: left;
  }
  .contacts_txt{
    margin: 0;
  }
  .contacts_map-desc{
    margin: 0 -20px 30px;
    width: auto;
    height: auto;
  }
  .contacts_map-desc img{
    width: 100%;
  }
  .section_side{
    width: auto;
    margin: 0 -20px -15px;
    padding: 35px 20px;
  }
  .news_card{
    width: 100%;
  }
  .pagination{
    justify-content: space-between;
    padding: 15px 0 20px;
    min-width: 285px;
  }
  .pagination_num{
    padding: 0;
  }
  .lab_txt{
    height: 147px;
    overflow: hidden;
  }
  .read-all{
    display: block;
  }
  .students_list-txt{
    font-size: 12px;
  }
  .students_list__big .students_list-txt{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  .mentors-wrap{
    padding-bottom: 0;
  }
  .mentor{
    width: 100%;
  }
  .mentor_img-wrap{
    margin-bottom: 15px;
  }
  .about_items-img-wrap{
    height: 90px;
  }
  .about_items-img-wrap::before,
  .about_items-img-wrap::after{
    background-size: auto 100%;
  }
  .about_items-img{
    background-size: 13%;
  }
  .about_items-img__1{
    background-size: 30%;
  }
  .products .product-wrap{
    width: 100%;
  }
  .product .product-in{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 17px;
    word-wrap: break-word;
  }
  .product .product_img-wrap{
    width: 104px;
    height: 100px;
  }
  .product .product_content{
    width: calc(100% - 110px);
    padding: 0 0 0 15px;
    align-self: center;
    font-size: 14px;
  }
  .catalog-section-wrap .product_txt{
    display: none;
  }
  .product_cart-ic{
    display: none;
  }
}